.header-down-arrow {
  position: absolute;
    bottom: 4vh;
    left: 0;
    right: 0;
  text-align: center;
  z-index: 10;
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.header-down-arrow img {
  animation: fade-slide-up 2s 2s ease-out forwards infinite;
  opacity: 0;
}




.min-nav {
    font-family: Hiragino Sans, sans-serif;
}

.store-bog{
    text-transform:uppercase;
}

.lilla-tekst {
    color: #330566;
    font-weight: bold;
}
